/***************/
/* DOCUMENT */
/***************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Convection Medium", sans-serif;
	color: #fff;
	line-height: 1;
	background-image: url(../../public/welcome-omo-background.png);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

/***************/
/* GENERAL / REUSABLE */
/***************/
.content-container {
	box-shadow: 0px 0px 8px #000;
	width: fit-content;
	margin: 0 auto;
}

.font-bold {
	font-weight: 700;
}

/***************/
/* HEADER */
/***************/
header {
	display: flex;
	align-items: center;
	justify-content: center;

	border-bottom: 2px solid #f3c20f;
	padding: 12px 0;
	background-color: #181818;
}

.header-logo-wrapper {
	border: 5px solid transparent;
	border-radius: 9px;
	width: 50px;
}

.header-logo {
	width: 100%;
}
