.section--newsletter {
	text-align: center;
}

#newsletter-form label {
	display: inline-block;
	margin: 3rem auto 1.2rem auto;
	text-shadow: 0px 0px 2px #000, 0px 0px 4px #000, 0px 0px 2px #000,
		0px 0px 2px #000;

	font-size: 1.2rem;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.75px;
}

#input-container {
	display: flex;
	width: fit-content;
	margin: 0 auto;

	border: 3px solid #f3c20f;
	box-shadow: 0px 0px 8px #000;
}

#email-input,
#submit-button {
	font-family: inherit;

	border: none;
	padding: 1rem 2rem;
}

#submit-button {
	font-size: 1.6rem;
	font-weight: 600;
	color: #fff;

	cursor: pointer;
	background: linear-gradient(to right bottom, #fdcc1c 10%, #ffd53b);
}
