@import "#theme/theme";

.lobby {
  display: flex;
  align-items: center;
  flex-direction: column;

  
}

.lobbyRow {
    background-color: $color-primary;
    width: 60%;

    border-left: 5px solid #9b2834;

    

    details {
        cursor: pointer;

        span {
            display: flex;
            flex-direction: row;

            
        }

        img {
            width: 20px;
            display: inline-flex;
        }

        summary {

            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &[open] {
            summary {
                border-bottom: 1px solid darken($color-primary, 25%);
            }
        }

        
    }

    &:nth-child(odd) {
        summary {
          background-color: #d54949;
        }
      }
      
      &:nth-child(even) {
        summary {
          background-color: #74c43e;
        }
      }

    .infoBox{
        background-color: #7875b3;

        border-bottom: 1px solid darken($color-primary, 25%);
        }


}