/* BELOW 800px (lobby + members) */
@media (max-width: 50em) {
    /* LOBBY */
    body h2 {
        font-size: 45px;
    }

    body .omo-slogan {
        font-size: 25px;
    }

    /* ROWS */
    body .row {
        width: 400px;
        font-size: 25px;
    }

    body .row-icon {
        width: 40px;
    }

    /* GENERAL / REUSABLE */
    body .content-box {
        width: 480px;
    }

    body .content-image {
        width: 125px;
    }

    body .content-title,
    body .calling-card-number {
        font-size: 25px;
    }

    body .link:link,
    body .link:visited {
        font-size: 12px;
    }

    /* CALLING CARD */
    body .calling-card-right {
        padding-top: 13px;
    }

    body .calling-card-flags {
        top: 15px;
        left: 18px;
    }

    body .calling-card-flag {
        height: 20px;
    }

    body .calling-card-banner {
        width: 80%;
    }

    body .calling-card-tag {
        font-size: 16px;
    }

    body .calling-card-number-wrapper {
        top: 8px;
        right: 15px;
    }

    body .calling-card-credit {
        bottom: 7px;
        right: 7px;
    }

    body .calling-card-skill {
        width: 32px;
    }

    /* FEATURED */
    body .featured-artist {
        font-size: 12px;
    }

    body .featured-description {
        font-size: 8px;
        margin-bottom: 8px;
    }

    body .featured-video-embed {
        width: 50%;
    }
}

/* BELOW 608px (members) */
@media (max-width: 38em) {
    /* GENERAL / REUSABLE */
    body .content-box {
        width: 350px;
    }

    /* REMOVE IMAGE AND ADD BLURRED BACKGROUND IMAGE */
    body .calling-card-right {
        padding-top: 0px;
        height: 115px;
    }

    body .calling-card-main-wrapper {
        padding: 12px;
    }

    body .blurred-background .content-image {
        display: none;
    }

    body .blurred-background .content-right {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        overflow: hidden;
    }

    body .blurred-background .content-right::after {
        -webkit-backdrop-filter: blur(4px) brightness(60%); /* Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+ */
        backdrop-filter: blur(4px) brightness(60%); /* Supported in all major browsers */

        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    body .blurred-background .content-title,
    body .blurred-background .calling-card-banner-wrapper,
    body .blurred-background .flex-absolute,
    body .blurred-background .featured-artist,
    body .blurred-background .featured-description,
    body .blurred-background .link-list {
        z-index: 1;
    }

    body .blurred-background .content-title,
    body .blurred-background .link-list {
        position: relative;
    }

    /* LINKS */
    body .links .link-list {
        /* flex-direction: column; */
        flex-wrap: wrap;
        flex-basis: 250px;
    }

    /* FEATURED MUSIC + VIDEO */
    body .featured-right {
        padding: 15px 0;
    }

    /* FEATURED VIDEO */
    body .featured-video-box {
        flex-direction: column;
    }

    body .featured-video-embed {
        width: 100%;
    }
}

/* BELOW 528px (lobby) */
@media (max-width: 33em) {
    /* LOBBY */
    body h2 {
        font-size: 40px;
    }

    body .omo-slogan {
        font-size: 20px;
    }

    /* ROWS */
    body .row {
        width: 310px;
        font-size: 20px;
    }

    body .row-icon {
        width: 30px;
    }

    /* NEWSLETTER */
    body #newsletter-form label {
        font-size: 10px;
    }

    body #email-input,
    body #submit-button {
        padding: 7.5px 15px;
    }

    body #email-input {
        font-size: 12px;
    }

    body #submit-button {
        font-size: 14px;
    }
}

/* BELOW 464px (lobby) */
@media (max-width: 29em) {
    body .content-box {
        width: 275px;
    }

    /* CALLING CARD */
    body .calling-card-right {
        justify-content: center;
        height: 100%;
    }

    body .calling-card-main-wrapper {
        padding-top: 45px;
    }

    body .calling-card-credit {
        position: relative;
        right: 0;
    }
}
