/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Rubik", sans-serif;
  color: #333;
}

.main-content {
  margin: 0 auto;
  padding: 4.8rem 0 9.6rem 0;
  width: 120rem;
  text-align: center;
}

/* HEADER */
.header {
  padding: 2.4rem 2.4rem;
}

.header-logo {
  width: 4rem;
}

/* PICTURE SECTION */
.main-logo {
  max-width: 30rem;
  /* border: 0.5rem solid #333; */
  border-radius: 8px;
}

/* TITLE SECTION */
.section-title {
  margin: 3.2rem 0 4.8rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.title {
  letter-spacing: -0.5px;
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
}

.artist-name,
.artists {
  color: #5f5f5f;
}

.artists {
  font-size: 2rem;
  font-weight: 500;
}

/* BUTTON SECTION */
.section-buttons {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
  gap: 1.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #c21010;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

.button,
.button:link,
.button:visited {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 1rem;
  justify-content: center;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 4.8rem;
  border-radius: 8px;
  transition: all 0.3s;
  background-color: #c21010;
  color: #fff;
}

.button:hover,
.button:active {
  background-color: #ad2525;
}

/* FOOTER */
.footer {
  border-top: 1px solid #eee;
  text-align: center;
  margin: 0 auto;
  padding: 4.8rem 0;
}

.footer-logo {
  width: 7rem;
}
