/***************/
/* DOCUMENT DECLARATIONS */
/***************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	/* font-size: 1.8rem; */
	font-family: "Convection Medium", sans-serif;
	color: #fff;
	line-height: 1;
}

/***************/
/* GENERAL / REUSABLE SELECTORS */
/***************/

main {
	text-align: center;
	margin: 4.8rem auto 7.2rem auto;
	width: fit-content;
}

.subheading {
	font-size: 1.2rem;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.75px;
}

/***************/
/* HEADER + FOOTER */
/***************/

/* FULL SECTIONS */
header {
	display: flex;
	align-items: center;
	justify-content: center;

	border-bottom: 2px solid #f3c20f;
	padding: 1.2rem 0;
	background-color: #181818;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;

	border-top: 1px solid #d3d3d3;
	padding: 4.8rem 0;
}

/* LOGO WRAPPERS */
.header-logo-wrapper,
.footer-logo-wrapper {
	display: inline-block;
	border: 5px solid transparent;
	border-radius: 9px;
}

.header-logo-wrapper {
	width: 5rem;
}

.footer-logo-wrapper--omo {
	width: 8rem;
}

.footer-logo-wrapper--weatherstation {
	width: 6rem;
}

/* LOGOS */
.header-logo {
	width: 100%;
}

.footer-logo {
	width: 100%;
}
